<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/> 
    <title>{{ escape(handler.settings["blog_title"]) }}</title>
    <link rel="stylesheet" href="{{ static_url("bootstrap/css/bootstrap.css") }}" type="text/css"/>
    <script type="text/javascript" src="{{ static_url("jquery-1.7.1.min.js") }}"></script>
    <script type="text/javascript" src="{{ static_url("bootstrap/js/bootstrap.js") }}"></script>
    {% block head %}{% end %}
  </head>
  <body>
    <div id="body">
        <div id="header">
            <div class="navbar navbar-fixed-top">
                <div class="navbar-inner" style="text-align:right;">
                    <div class="container">
                        <span class="brand">Anjuke Expense Applying</span>
                        <span style="line-height:50px;margin-right:10px;">欢迎您,施明</span>
                        <button class="btn btn-info">注销</button>
                    </div>
                </div>
            </div> 
        </div>
        <div style="margin-top:85px;width:1024px;margin-left:auto;margin-right:auto;">
            <div class="tabbable"> <!-- Only required for left/right tabs -->
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#tab1" data-toggle="tab">我的报销</a></li>
                    <li><a href="#tab2" data-toggle="tab">提交报销</a></li>
                    <li><a href="#tab3" data-toggle="tab">报销流程</a></li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="tab1">
                        <p>I'm in Section 1.</p>
                    </div>
                    <div class="tab-pane" id="tab2">
                        <p>安全生产，为国为民</p>
                    </div>
                    <div class="tab-pane" id="tab3">
                        <p>实干兴邦，空谈误国</p>
                    </div>
                </div>
            </div>
        </div>
        <div id="content">{% block body %}{% end %}</div>
    </div>
    {% block bottom %}{% end %}
  </body>
</html>
