<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/> 
    <title>{{ escape(handler.settings["blog_title"]) }}</title>
    <link rel="stylesheet" href="{{ static_url("bootstrap/css/bootstrap.min.css") }}" type="text/css"/>
    <script type="text/javascript" src="{{ static_url("jquery-1.7.1.min.js") }}"></script>
    <script type="text/javascript" src="{{ static_url("bootstrap/js/bootstrap.js") }}"></script>
    <script type="text/javascript" src="{{ static_url("bootstrap/js/bootstrap-popover.js") }}"></script>
    <style type="text/css">
        .table th {
            background-color: #E5E5E5;
        }
    </style>
    {% block head %}{% end %}
  </head>
  <body>
        <div id="body">
            <div id="header">
                <div class="navbar navbar-fixed-top">
                    <div class="navbar-inner" style="text-align:right;">
                        <div class="container" style="width:85%">
                             <a class="brand" href="/" style="color:#fff;text-shadow: none;">Home</a>
                             <div class="nav-collapse">
                                 <ul class="nav">
                                     <li>
                                     <a href="/myadd" style="color:#fff;text-shadow: none;">添加报销</a>
                                     </li>
                                     <li>
                                     <a href="/reserve" style="color:#fff;text-shadow: none;">预留金申请</a>
                                     </li>
                                 </ul>
                             </div>  
                            <span style="line-height:50px;margin-right:10px;color:#fff;">欢迎您,施明</span>
                            <button class="btn btn-info">注销</button>
                        </div>
                    </div>
                </div> 
            </div>
            <div id="content">
                <div style="margin-top:85px;width:85%;margin-left:auto;margin-right:auto;">
                    {% block body %}{% end %}
                    <p>Anjuke_Expense_Applying 0.1 Powered by Sysdev</p>
                </div>
            </div>
        </div>
    {% block footer_script %}{% end %} 
    </body>
</html>
