<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/> 
    <title>{{ escape(handler.settings["blog_title"]) }}</title>
    <link rel="stylesheet" href="{{ static_url("bootstrap/css/bootstrap.min.css") }}" type="text/css"/>
    <script type="text/javascript" src="{{ static_url("jquery-1.7.1.min.js") }}"></script>
    <script type="text/javascript" src="{{ static_url("bootstrap/js/bootstrap.js") }}"></script>
    <script type="text/javascript" src="{{ static_url("bootstrap/js/bootstrap-popover.js") }}"></script>
    <style type="text/css">
        .table th {
            background-color: #E5E5E5;
        }
    </style>
    <link rel="stylesheet" href="{{ static_url("base.css") }}" type="text/css"/>
    <script type="text/javascript" src="{{ static_url("base.js") }}"></script>
    {% block head %}{% end %}
  </head>
  <body>
        <div id="body">
            <div id="header">
                <div class="navbar navbar-fixed-top">
                    <div class="navbar-inner" style="text-align:right;">
                        <div class="container" style="width:1280px">
                             <a class="brand" href="/" style="color:#fff;text-shadow: none;">Home</a>
                             <div class="nav-collapse">
                                <ul class="nav">
                                     <li>
                                        <a href="/myadd" style="color:#fff;text-shadow: none;">添加报销</a>
                                    </li>
                                </ul>
                                <ul id="account-info" class="nav pull-right">
                                    <li>
                                        <form id="nav-search" class="navbar-form pull-right" method="post" action="/search">
                                            <input class="input-medium search-query" type="text" name="kw" placeholder="输入关键字" style="height:14px;margin:8px 20px 0 0;" />
                                        </form>
                                    </li>
                                    <li>
                                        <a href="/profile" style="text-shadow: none;color:#fff;">您好,{{ handler.current_userinfo['name']}}!</a>
                                    </li>
                                    <li>
                                        <a href="/logout" style="text-shadow: none;color:#fff;">注销</a>
                                    </li>
                                </ul>

                             </div>  
                        </div>
                    </div>
                </div> 
            </div>
            <div id="content">
                <div style="margin-top:45px;width:1280px;margin-left:auto;margin-right:auto;">
                    {% block body %}{% end %}
                    <p>Anjuke_Expense_Applying 0.1 Powered by Sysdev</p>
                </div>
            </div>
        </div>
    {% block footer_script %}{% end %} 
    </body>
</html>
