{% extends "base.html" %}
{% block body %}
<div class="row" id="main" style="margin-left:0px;"> <!-- Only required for left/right tabs -->
    <ul class="breadcrumb" style="background-color: #FBFBFB;background-image: -moz-linear-gradient(center top , #FFFFFF, #F5F5F5);background-repeat: repeat-x;border: 1px solid #DDDDDD;border-radius: 3px 3px 3px 3px;box-shadow: 0 1px 0 #FFFFFF inset;">
        <li>
            <a href="/">Home</a>
            <span class="driver"> / </span>
        </li>
        <li class="active">审核链</li>
    </ul>
    <div class="well">
        <legend>实时审核过程</legend>

    </div>
</div>
{% end block %}
