{% extends "base.html" %}
{% block body %}
<div class="row" id="main" style="margin-left:0px;"> <!-- Only required for left/right tabs -->
    <ul class="breadcrumb" style="background-color: #FBFBFB;background-image: -moz-linear-gradient(center top , #FFFFFF, #F5F5F5);background-repeat: repeat-x;border: 1px solid #DDDDDD;border-radius: 3px 3px 3px 3px;box-shadow: 0 1px 0 #FFFFFF inset;">
        <li>
            <a href="/">Home</a>
            <span class="driver"> / </span>
        </li>
        <li class="active">添加报销</li>
    </ul>
    <div class="well">
        <form method="post">
            <div style="float:right;"><span class="label label-info" id="basedivmsg" style="cursor:pointer;">显示基本信息</span></div>
            <div id="baseinfo" style="display:none;">
                <legend>基本信息</legend>
                <div style="line-height:35px;">
                    <div class="row"> 
                        <div class="span4">流程编号：</div>
                        <div class="span4">申请日期：</div>
                        <div class="span4">发生金额：</div>
                    </div>
                    <div class="row"> 
                        <div class="span4">员工编号：{{handler.current_userinfo['code']}}</div>
                        <div class="span4">员工姓名：{{handler.current_userinfo['name']}}</div>
                        <div class="span4">员工职位：{{handler.current_userinfo['job_name']}}</div>
                    </div>
                    <div class="row"> 
                        <div class="span4">所属城市：{{handler.current_userinfo['city_name']}}</div>
                        <div class="span4">事业部：{{handler.current_userinfo['bu_name']}}</div>
                        <div class="span4">部门：{{handler.current_userinfo['department_name']}}</div>
                    </div>
                    <div class="row"> 
                        <div class="span4">银行卡号：{{handler.current_userinfo['bank_card']}}</div>
                        <div class="span4">实际金额：</div>
                        <div class="span4">指定卡号： <input type="text" class="input-xlarge" name="real-card" /></div>
                    </div>
                </div> 
            </div>
            <legend>报销明细</legend>
            <table class="table table-bordered table-striped" id="table1">
                <thead>
                    <tr>
                        <th>序号</th>
                        <th>事物内容</th>
                        <th>申请金额</th>
                        <th>详情说明</th>
                        <!-- <th>预算范围</th> -->
                        <th><i id="addtr" class="icon-plus" title="增加"></i> 增加</th>
                    </tr>
                </thead>
                <tbody id="tbody1">
                    <tr>
                        <td></td>
                        <td><select name="type_id[]">
                        	<option value="">-请选择-</option>
                        	{% for reim_type in reim_types %}
                        	<option value="{{ reim_type.id }}">{{ reim_type.type }}</option>
                        	{% end %}
                        	</select>
                        </td>
                        <td><input type="text" name="expense[]"/></td>
                        <td><input type="text" name="comment[]"/></td>
                        <!-- <td><select></select></td> -->
                        
                        <td><i class="icon-remove" title="移除"></i></td>
                    </tr>
                </tbody>
            </table>
		    <div style="text-align:center;"><button class="btn btn-primary" type="submit" />提交</button></div>
		</form>
    </div>
</div>
{% end block %}
