


i {cursor: pointer;}
/*well*/
.well{padding: 10px 19px;}
/*checklog*/
.checklog{list-style-type:none}
.checklog .alert-error{background-color: #FCF8E3;color:#313131;}
.checklog .alert-info{background-color: #FFFFFF;color:#313131;border-color: #FFFFFF;}