#breadcrumbs{
  overflow: hidden;
  width: 100%;
}

#breadcrumbs li{
  float: left;
  margin: 0 .5em 0 1em;
  list-style:none;
}

#breadcrumbs a{
  background: #ddd;
  padding: .7em 1em;
  float: left;
  text-decoration: none;
  color: #444;
  text-shadow: 0 1px 0 rgba(255,255,255,.5); 
  position: relative;
}

#breadcrumbs a::before{
  content: "";
  position: absolute;
  top: 50%; 
  margin-top: -1.5em;   
  border-width: 1.5em 0 1.5em 1em;
  border-style: solid;
  border-color: #ddd #ddd #ddd transparent;
  left: -1em;
}

#breadcrumbs a::after{
  content: "";
  position: absolute;
  top: 50%; 
  margin-top: -1.5em;   
  border-top: 1.5em solid transparent;
  border-bottom: 1.5em solid transparent;
  border-left: 1em solid #ddd;
  right: -1em;
}


#breadcrumbs .approve_status_2, #breadcrumbs .approve_status_2:hover{
    background: none repeat scroll 0 0 #FF0000;
    font-weight: bold;
}
#breadcrumbs .approve_status_2:after {
    border-left-color: #FF0000;
}
#breadcrumbs .approve_status_2:before {
    border-color: #FF0000 #FF0000 #FF0000 transparent;
}
#breadcrumbs .approve_status_1, #breadcrumbs .approve_status_1:hover{
    background: none repeat scroll 0 0 #99DB76;
    font-weight: bold;
}
#breadcrumbs .approve_status_1:after {
    border-left-color: #99DB76;
}
#breadcrumbs .approve_status_1:before {
    border-color: #99DB76 #99DB76 #99DB76 transparent;
}

